<img [src]="'Books.png'" width="80" >
<hr>
<!-- Reset page to 1 when user types in the search box -->
<label>Search Book :</label>
<input type="text" [(ngModel)]="searchText" (ngModelChange)="currentPage = 1" placeholder="Search" />
<hr>

<h3>Total Books: {{ books.length }}</h3>
<div *ngIf="errorMessage" style="color: red; padding: 10px; border: 1px solid red; margin-bottom: 10px;">
    {{ errorMessage }}
</div>
<div *ngIf="successMessage" style="color: green; padding: 10px; border: 1px solid green; margin-bottom: 10px;">
    {{ successMessage }}
</div>
<table border="1">
    <tr>
<!-- Make headers clickable and display sorting arrows -->
 <th (click)="sort('title')" style="cursor: pointer;">
    Title <span *ngIf="sortColumn === 'title'">
        {{sortDirection === 'asc' ? '▲' : '▼'}}
    </span>
 </th>
 <th (click)="sort('author')" style="cursor: pointer;">
    Author <span *ngIf="sortColumn === 'author'">
        {{sortDirection === 'asc' ? '▲' : '▼'}}
    </span>
 </th>
 <th (click)="sort('price')" style="cursor: pointer;">
    Price <span *ngIf="sortColumn === 'price'">
        {{sortDirection === 'asc' ? '▲' : '▼'}}
    </span>
 </th>
 <th>Status</th>
 <th>Action</th>
 </tr>

 <!-- Use the new getProcessedBooks() method here -->
    <tr *ngFor="let book of getProcessedBooks()">
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.price | currency:'INR' }}</td>
        
        <td>
            <span *ngIf="book.available">Available</span>
            <span *ngIf="!book.available">Issued</span>
        </td>
        <td>
        <button [routerLink]="['/edit-book', book.id]" style="margin-right: 5px;">
            Edit
        </button>
        <button (click)="deleteBook(book.id)">
            Delete
        </button>
        </td>
    </tr>
</table>

<!-- Add Pagination Controls below the table -->
<div style="margin-top: 15px; display: flex; gap: 5px; align-items: center;">
    <button [disabled]="currentPage === 1" (click)="changePage(currentPage - 1)">
        Previous
    </button>
    <button *ngFor="let page of pageNumbers" [style.backgroundColor]="currentPage === page ? '#007bff' : ''"
    [style.color]="currentPage === page ? 'white' : 'black'"
    (click)="changePage(page)">
{{ page }}
</button>

<button [disabled]="currentPage === totalPages"  (click)="changePage(currentPage + 1)">
    Next
</button>
</div>
