<mat-card style="max-width: 500px; margin: 2rem auto; padding: 1rem;">
    <mat-card-header>
        <mat-card-title><h2>Edit Book</h2></mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div *ngIf="errorMessage" style="color: red; padding-bottom: 15px;">
            {{ errorMessage }}
        </div>

        <form #bookForm="ngForm" (ngSubmit)="update(bookForm)" style="display: flex; flex-direction: column; gap: 15px; margin-top: 15px;">

            <!-- Book Title -->
             <mat-form-field appearance="outline">
                <mat-label>Book Name</mat-label>
                <input matInput type="text" name="title" [(ngModel)]="book.title" #title="ngModel" required placeholder="Enter Book Name" />
                <mat-error *ngIf="title.invalid && (title.touched || bookForm.submitted)">
                    Book name is required.
                </mat-error>
             </mat-form-field>

             <!-- Author -->
             <mat-form-field appearance="outline">
                <mat-label>Author Name</mat-label>
                <input matInput type="text" name="author" [(ngModel)]="book.author" #author="ngModel" required placeholder="Enter Book Author Name" />
                <mat-error *ngIf="author.invalid && (author.touched || bookForm.submitted)">
                    Author name is required.
                </mat-error>
             </mat-form-field>

             <!-- Price -->
             <mat-form-field appearance="outline">
                <mat-label>Price</mat-label>
                <input matInput type="number" name="price" [(ngModel)]="book.price" #price="ngModel" required placeholder="Enter Book Author Name" />
                <mat-error *ngIf="author.invalid && (author.touched || bookForm.submitted)">
                    Author name is required.
                </mat-error>
             </mat-form-field>

             <!-- Category -->
             <mat-form-field appearance="outline">
                <mat-label>Category</mat-label>
                <input matInput type="text" name="category" [(ngModel)]="book.category" #category="ngModel" required placeholder="Enter Book Category" />
                <mat-error *ngIf="category.invalid && (category.touched || bookForm.submitted)">
                    Category is required.
                </mat-error>
             </mat-form-field>

             <!-- Availiability Checkbox -->
              <mat-checkbox name="available" [(ngModel)]="book.available" color="primary">
                Available in Library
              </mat-checkbox>

              <button mat-raised-button color="accent" type="submit" [disabled]="bookForm.invalid" style="padding: 10px; margin-top: 10px;">
                Update Book
              </button>
        </form>
    </mat-card-content>

    <mat-card-footer *ngIf="successMessage" style="padding: 16px; color: green; font-weight: bold; text-align: center;">
        {{ successMessage }}
    </mat-card-footer>
</mat-card>